<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="WorkingDirectory" value="c:\temp\workingdir" />
    <add key="XsdName" value="ScriptsETT.xsd" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="FileLogger" value="true" />
    <add key="ConsoleLogger" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="ETT" connectionString="Data Source=SQL5035.site4now.net;                 Initial Catalog=DB_9B04E0_discography;    User Id=DB_9B04E0_discography_admin;    Password=xjhcz58m" />
    <add name="BD_Ethan" connectionString="Data Source=ethandemo.database.windows.net;  Initial Catalog=EthanDemo;                User ID=adminethan;                     Password=Xjhcz58m-24"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>